/* style.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8fdf7d5;
  }
  
  .container {
    padding: 60px 20px;
  }
  
  
  .logo {
    width: 360px;
    height: auto;
    margin-bottom: 30px;
   
  }
  
  .explore-button{
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
  }

  .logo-small{

    width: 100px;
    height:100px;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  .nav-links{
    display: flex;
    gap: 24px;
  }

  .nav-links a{
    text-decoration: none;
    color:#333
  }